<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4">About Xpensetrackr</h1>
  <p class="text-lg text-gray-700">
    Welcome to Xpensetrackr! We are dedicated to helping you track your expenses effortlessly.
    <!-- Add any content you want to display on the About page -->
  </p>
  <p class="mt-4 text-lg text-gray-700">
    Please send feedback on <a href="https://xpensetrackr.canny.io" target="_blank" class="underline">Canny</a>.
  </p>
  <p class="mt-4 text-lg text-gray-700">
    Code is available at <a href="https://github.com/adnjoo/xpensetrackr" target="_blank" class="underline">GitHub</a>.
  </p>
</div>
